<h3>comments</h3>
<% @post.comments.each do|comment| %>
    <div class="well">
        <p><strong><%= comment.username %></strong> : <%= comment.body %></p>
    <%= link_to "Delete comment", [comment.post, comment],
    method: :delete,
    data: {confirm: 'Are you sure!' },
    :class => 'btn btn-danger'%>
    </div>
    <% end %>